
{% extends 'admin/index.html' %}
{% load static %}
{% block content %}
<style> 
.button { 
height: 50px; 
width: 100px; 
} 
</style>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Mobile Images from {{user}}</h1>
            
          </div>
<html>
<head>

    	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'citizenform/images/icons/image.png' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'citizenform/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'citizenform/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'citizenform/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'citizenform/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'citizenform/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'citizenform/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'citizenform/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'citizenform/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'citizenform/css/main.css' %}">
<!--===============================================================================================-->
<style>
        figure {
            display: inline-block;
            margin-top: 1em;
            margin-bottom: 1em;
            margin-left: 40px;
            margin-right: 40px;
        }
</style>
</head>
<body>
{% for img in images %}
    <figure>
    <div class="card-body">
      <img src="{{img|safe}}" alt="The Pulpit Rock" width="300" height="225">
    </div>
    </figure>
    {% endfor %}
<form class="contact100-form validate-form" method="POST">
{% csrf_token %}
<div class="wrap-input100 validate-input" data-validate="Valid  place">
					<span class="label-input100"></span>
					<input class="input100" type="text" name="place" placeholder="Type Forward To Report Case">
					<span class="focus-input100"></span>
				</div>
<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
						<button class="contact100-form-btn">
							<span>
								Submit
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span>
						</button>
					</div>
				</div>
</body>

 
<script src="{% static 'citizenform/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'citizenform/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'citizenform/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'citizenform/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'citizenform/vendor/select2/select2.min.js' %}"></script>
	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script src="{% static 'citizenform/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'citizenform/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'citizenform/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'citizenform/js/main.js' %}"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
{% endblock content%}