{% extends 'admin/index.html' %}
{% block content %}
<div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Tables</h1>
          <p class="mb-4">Cases reported By Public</a>.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DataTables </h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Address</th>
                      <th>Date</th>
                      <th>Type</th>
                      
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Address</th>
                      <th>Date</th>
                      <th>Type</th>
                      
                    </tr>
                  </tfoot>
                  <tbody>
                  {% for tab in table.itertuples %}
                    <tr>
                       <td>{{tab.Date}}</td>
                      <td>{{tab.Name}}</td>
                      <td>{{tab.Address}}</td>
                      
                      <td>{{tab.Type}}</td>
                      
                    </tr>
                    {% endfor %}
                    
                   
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
{% endblock content %}